<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="icon" type="image/png" href="/images/logo_hmpsm.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/end-user/after.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/end-user/Grid.css">
  <title>HMPSM UPH | Medan Campus</title>
</head>

<body>
  <section class="signtext">
    <div class="row">
      <% if (status === 'CONFIRMATION') { %>
        <div class="signtextbox">
          <h3><strong><em>Congratulations!! <br>You got the <%= formatOrderedNumber(form.slotNumber) %> seat</em></strong></h3>
        </div>
        <div class="desc">
          <% if (price === -1) { %>
            <p>Please wait for our admin's confirmation</p>
          <% } else { %>
            <p>
              Please pay Rp. <%= price.toLocaleString() %> maximum of 2 x 24 hours from now or this reservation will automatically be cancelled
            </p>
            <p>
              Payment should be done via transfer to <span class="red">BANK NOBU (Nobu – 80110038051 Velya Laurencia Hanl)</span>
            </p>
            <p>
              Please note that you should send your transfer receipt to our official line account : <span class="light-green lighten-1">@gjo9345r</span>
            </p>
          <% } %>
          
          <p>**We have sent your ticker order detail to your email**</p>
        </div>
      <% } else if (status === 'WAITING') { %>
        <div class="signtextbox">
          <h3><strong><em>There's still hope!! <br>You got the <%= formatOrderedNumber(form.slotNumber) %> place in the Waiting List</em></strong></h3>
        </div>
        <div class="desc">
          <p>We will inform you as soon as you we got a place for you!</p>
          <p>We have sent your ticker order detail to your email</p>
        </div>
      <% } else if (status === 'REJECTED') { %>
        <div class="signtextbox">
          <h3><strong><em>You can't sign up for this event anymore</em></strong></h3>
        </div>
        <div class="desc">
          <p>Either you have signed up for this event or,</p>
          <p>the registration is already closed</p>
        </div>
      <% } %>
    </div>

    <% if (['CONFIRMATION', 'WAITING'].includes(status)) { %>
      <form action="/end-user/event/<%= event._id %>/form/<%= form._id %>/email?_method=PUT" method="POST">
        <div class="container center-align">
          <h6>Mistype your email?</h6>
          <h6>Edit your email here</h6>
          <h6>(You can only edit your email once)</h6>
          <div class="row">
            <div class="input-field col s8 offset-s2 m6 offset-m3 l4 offset-l4">
              <input type="email" name="Email" class="validate center-align" value="<%= form.data.Email %>" required>
              <label class="active">Email</label>
              <button type="submit" class="waves-effect waves-light light-blue btn">UPDATE EMAIL</button>
              <br><br>
              <a href="/" class="waves-effect">BACK TO HOME</a>
            </div>
          </div>
        </div>
      </form>
    <% } %>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.js"></script>
  <script>
    $(document).ready(function () {

      $('label')
        .addClass('active')
        .click(function () {
          $(this).siblings('input').focus()
        })
    })
  </script>
</body>

</html>