<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link rel="icon" type="image/png" href="/images/logo_bem.png">
  <link rel="stylesheet" type="text/css" href="/stylesheets/end-user/register.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/end-user/Grid.css">
  
  <title>BEM UPH | Medan Campus</title>

  <style>
    .my-banner {
      position: fixed;
      text-align: center;
      z-index: 999;
      width: 100%;
      height: 30px;
      top: 0;
      left: 0;
      font-size: 0.9em;
    }

    .my-spacebar {
      height: 30px;
    }
    
    #h_timer {
      margin: 3em 0;
    }
    #h_timer p {
      line-height: 150%;
    }

    #info_slot {
      z-index: 999;
      position: fixed;
      top: 4em;
      left: 0;
      padding: 0.2em;
      color: white;
      background: orange;
      font-size: 0.9em;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
    }
  </style>

  <title>Bem Registration</title>
</head>

<body>
  <div class="my-banner orange white-text"></div>

  <div id="info_slot"><%= event.seatCount - currentConfirmationCount %> tickets left</div>

  <div class="my-spacebar"></div>
  
  <header>
    <nav class="nav-wrapper grey darken-3">
      <div class="container">
        <a href="" class="brand-logo"> <img style="width:40px;" src="/images/logo_bem.png">BEM UPH Medan Campus</a>
        <ul class="right hide-on-med-and-down">
          <li><a class="go-to-register">Register Now!</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <section class="full-slider">
    <div class="carousel carousel-slider">
      <a class="carousel-item" href="#one!"><img src="<%= event.mainImage.secure_url %>"></a>
    </div>
  </section>

  <section class="section-title">
    <div class="container">
      <div class="row">
        <h1 class="white-text"><%= event.title %></h1>
        <p class="white-text"><%= event.desc %></p>
      </div>
    </div>
  </section>

  <% if (event.priceRanges.length) { %>
    <section class="section-price grey lighten-2">
      <div class="row">
        <h2 class="center">TICKET PRICE</h2>
      </div>  
      <div class="container">
        <div class="row">
          <% if (event.priceRanges.length === 2) { %>
            <% let priceRanges = event.priceRanges %>
            <div class="col s12 m4 offset-m1">
              <div class="card white">
                <div class="card-content black-text">
                  <span class="card-title center"><%= formatOrderedNumber(1) %> - <%= formatOrderedNumber(priceRanges[0].peopleCount) %> registrar</span>
                  <p>Price : Rp. <%= priceRanges[0].price.toLocaleString() %></p>
                </div>
              </div>
            </div>
            <div class="col s12 m4 offset-m2">
              <div class="card white">
                <div class="card-content black-text">
                  <span class="card-title center"><%= formatOrderedNumber(priceRanges[0].peopleCount + 1) %> - <%= formatOrderedNumber(priceRanges[0].peopleCount + priceRanges[1].peopleCount) %> registrar</span>
                  <p>Price : Rp. <%= priceRanges[1].price.toLocaleString() %></p>
                </div>
              </div>
            </div>
          <% } else { %>
            <% let curPeopleCount = 0 %>
            <% for (let priceRange of event.priceRanges) { %>
              <% if (event.priceRanges.length == 1) { %>
                <div class="col s12 m4 offset-m4">
              <% } else if (event.priceRanges.length == 3) { %>
                <div class="col s12 m4">
              <% } %>
                <div class="card white">
                  <div class="card-content black-text">
                    <span class="card-title center"><%= formatOrderedNumber(curPeopleCount + 1) %> - <%= formatOrderedNumber(curPeopleCount + priceRange.peopleCount) %> registrar</span>
                    <p>Price : Rp. <%= priceRange.price.toLocaleString() %></p>
                  </div>
                </div>
              </div>
              <% curPeopleCount += priceRange.peopleCount %>
            <% } %>
          <% } %>
        </div>
      </div>
    </section>
  <% } else { %>
    <section class="section-price-free">
      <div class="parallax-container">
        <h3 class="center white-text">This time it's FREE</h3>
      </div>
    </section>
  <% } %>

  <section class="speaker-section" id="section_register">
    <div class="row">
      <h2 class="center">REGISTER NOW!</h2>
    </div>

    <h6 id="h_timer" class="center-align">
      <p></p>
    </h6>
    <form action="/end-user/event/<%= event._id %>/form" method="POST" style="display:none;">
      <div class="container">
        <div class="row">
          <div class="input-field col s8 offset-s2 m6 offset-m3 l4 offset-l4">  
            <input type="text" name="Student ID" pattern="\d+" class="validate" value="" required>
            <label>Student ID</label>
          </div>
          <div class="input-field col s8 offset-s2 m6 offset-m3 l4 offset-l4">  
            <input type="text" name="Full Name" class="validate" disabled required>
            <label>[Autofill] Full Name</label>
          </div>
          <div class="input-field col s8 offset-s2 m6 offset-m3 l4 offset-l4">  
            <input type="text" name="Study Program" class="validate" disabled required>
            <label>[Autofill] Study Program</label>
          </div>
          <div class="input-field col s8 offset-s2 m6 offset-m3 l4 offset-l4">  
            <input type="email" name="Email" class="validate" required>
            <label>Email</label>
          </div>

          <% for (let field of event.formSchema) { %>
            <div class="input-field col s8 offset-s2 m6 offset-m3 l4 offset-l4">  
              <% if (field.inputType === 'number') { %>
                <input type="text" name="<%= field.label %>" pattern="\d+" class="validate" required>
              <% } else { %>
                <input type="<%= field.inputType %>" name="<%= field.label %>" class="validate" required>
              <% } %>
              <label class="active"><%= field.label %></label>
            </div>
          <% } %>
        </div>    
        <div class="row center-align">
          <button style="margin-bottom:2em;" class="btn waves-effect waves-light orange" type="submit" name="submit">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </section>

  <footer class="grey lighten-1 white-text">
    <div class="progress" style="height:0.35em; display:none;">
      <div class="indeterminate orange"></div>
    </div>
    <div class="container center-align" style="font-size:25px;">
      <strong><img style="width:27px;" src="/images/logo_bem.png"> BEM &nbsp;&nbsp; x &nbsp;&nbsp; <img style="height:20px;" src="/images/logo_hmfik.png"> HMFIK</strong>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.js"></script>
  <script type="text/javascript">
    let openMoment = moment("<%= moment(event.openDate).format('YYYY-MM-DD HH:mm:ss') %>", 'YYYY-MM-DD HH:mm:ss')
    let closeMoment = moment("<%= moment(event.closeDate).format('YYYY-MM-DD HH:mm:ss') %>", 'YYYY-MM-DD HH:mm:ss')

    $(document).ready(function () {
      let elems = document.querySelectorAll('.carousel')
      let instance = M.Carousel.init(elems, {
        fullWidth: true,
        indicators: true
      })
      
      $('.parallax').parallax()

      $('label').click(function () {
        $(this).siblings('input').focus()
      })

      $('.go-to-register').click(function () {
        $('html, body').animate({
          scrollTop: $('#section_register').offset().top
        }, 'slow')
      })

      $('input[name="Student ID"]').val('')
      $('input[name="Full Name"]').val('').siblings('label').removeClass('active')
      $('input[name="Study Program"]').val('').siblings('label').removeClass('active')

      // let hostname = window.location.hostname
      let host = window.location.host
      let socket = io(host)
      socket.on('connect', function () {
        console.log('connected')
      })
      let ticketLeftCount = <%= event.seatCount - currentConfirmationCount %>
      socket.on('update_slot_count', function(data) {
        ticketLeftCount = Math.min(ticketLeftCount, data.totalConfirmationCount - data.currentConfirmationCount)
        if (ticketLeftCount > 0)
          $('#info_slot').html(`${ticketLeftCount} tickets left`)
        else
          $('#info_slot').html(`No tickets left`)
      })

      // registration interval update
      setInterval(() => {
        let currentMoment = moment(Date.now())
        if (currentMoment.isBefore(openMoment)) {
          $('form').hide()
          $('#h_timer')
            .slideDown('fast')
            .find('p').html( formatCountdown(openMoment.diff(currentMoment), 'form') )
          $('.my-banner').text( formatCountdown(openMoment.diff(currentMoment), 'banner-open') )
        } else if (currentMoment.isSameOrBefore(closeMoment)) {
          $('form').show()
          $('#h_timer').slideUp('slow')
          $('.my-banner').text( formatCountdown(closeMoment.diff(currentMoment), 'banner-close') )
        } else {
          $('form').hide()
          $('#h_timer').show().find('p').text('CLOSED')
          $('.my-banner').text( 'REGISTRATION CLOSED' )
        }
      }, 1000)

      // studentID spontant verification
      $('input[name="Student ID"]').on('input', async function() {
        $('form')[0].isStudentIDValid = false
        let studentID = $(this).val()
        updateMandatoryFields(studentID)
      })

      // validate form
      $('form').submit(function (event) {
        if (!this.isStudentIDValid) {
          event.preventDefault()
          $('input[name="Student ID"]').trigger('input')
          M.toast({html: 'invalid Student ID'}, { displayLength: 2000, classes: 'red'})
        } else {
          $('button[type=submit]').attr('disabled', true)
          $('.progress').slideDown('fast')
        }
      })

    })

    let updateMandatoryFields = _.throttle(async (studentID) => {
      let $studentID = $('input[name="Student ID"]')
      let $fullName = $('input[name="Full Name"]')
      let $studyProgram = $('input[name="Study Program"]')

      try {
        $studentID.siblings('label').html('Student ID (Verifying..)')
        let student = await $.get(`/end-user/api/student/${studentID}`)
        console.log(student)
        if ($studentID.val() !== studentID) return
        if (student) {
          $('form')[0].isStudentIDValid = true
          $studentID.siblings('label').html('Student ID <span class="blue-text">(Verified)</span>')
          $fullName.siblings('label').addClass('active')
          $fullName.val(student.name)
          $studyProgram.siblings('label').addClass('active')
          $studyProgram.val(student.studyProgram)
        } else {
          $('form')[0].isStudentIDValid = false
          $studentID.siblings('label').html('Student ID <span class="red-text">(Not found)</span>')
          $fullName.siblings('label').removeClass('active')
          $fullName.val('')
          $studyProgram.siblings('label').removeClass('active')
          $studyProgram.val('')
        }
      } catch (err) {
        console.log(err)
      }
    }, 1000)

    function formatCountdown (ms, type) {
      let days = Math.floor(ms / (24*60*60*1000))
      ms = ms % (24*60*60*1000)
      let hours = Math.floor(ms / (60*60*1000))
      ms = ms % (60*60*1000)
      let minutes = Math.floor(ms / (60*1000))
      ms = ms % (60*1000)
      let seconds = Math.floor(ms / 1000)
      ms = ms % 1000

      if (!type || type === 'form') {
        return `${days} days, ${pad2(hours)}:${pad2(minutes)}:${pad2(seconds)} until opening`
      } else if (type === 'banner-open') {
        return `${days} days, ${pad2(hours)}:${pad2(minutes)}:${pad2(seconds)} until opening`
      } else if (type === 'banner-close') {
        return `${days} days, ${pad2(hours)}:${pad2(minutes)}:${pad2(seconds)} until closing `
      }
    }

    function pad2(n) {
      if (n <= 9) return '0'+n
      return n
    }
  </script>
</body>

</html>
